html {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: #080525;
  text-align: center;
  color: white;
}

h1 {
  padding-top: 10%;
  padding-bottom: 5%;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  color: #8e8e8e;
}

p {
  font-weight: 100;
  color: #c2c2c2;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.firework {
  border-radius: 50%;
}

.streak {
  position: absolute;
  bottom: 0;
  width: 3px;
  height: 0px;
  background: white;
}